.page-content {
  background-color: #e7e7e7;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.post-title {
  font-size: large;
  margin: 0 0 1rem;
}

.post-link {
  margin: 0 0.25rem;
}
